@import "../../responsive.scss";

.button {
    all: unset;
    background-color: #93c572;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    transform: scale(1);
    border-radius: 4px;
    font-weight: 500;
    white-space: nowrap;

    @include sm {
        padding: 0.8rem;
        font-size: 14px;
    }
}

.hover-anim:hover {
    transform: scale(1.05);
}
